.kg-post-box {
    font-size: 15px;
}

.kg-kyugyo-button {
    min-height: 20px;
    max-height: 65px;
}

.kg-misc-box {
    min-height: 100px;
}

.modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin: auto;
    pointer-events: none;
    .modal-content {
        pointer-events: all;
    }
}

.kg-post {
    position: fixed;
    right: 20px;
    bottom: 20px;
    // left: 0;
    z-index: 1030;
    width: 70px;
    height: 70px;
}